@charset "UTF-8";

html{
  font-size: 100%;
  height: 100%;
}

body{
  height: 100%;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.6;
  font-size: 1.0rem;
  background-color: #f5f5f5;
}

h1{
  font-family: 'Sawarabi Mincho', sans-serif;
  font-weight: normal;
  font-size: 2.0rem;
  text-align: center;
}

h2{
  border-left: 5px solid #595959;
  padding-left: 10px;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  text-align: left;
}

span {
  display: inline-block;
}

a{
  text-decoration: none;
}


header{
  border-bottom: 3px solid #999999;
  position: fixed;
  top:0;
  width: 100%;
  height: 3.4rem;
  background-color: #f5f5f5;
}

nav{
  align-items: center;
}

.header_inner{
  padding-top: 0.5rem;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.header_inner ul{
   padding-left: 0px;
}

.global_nav{
  display: flex;
  overflow:hidden;
  justify-content: space-around;
  list-style: none;
  width:100%;
  text-align: center;
}

.global_nav_item{
  flex-grow: 1;
  text-align: center;
  padding: 0rem, 4rem;
  margin: 0rem, 4rem;
}

.global_nav_text{
  flex-grow: 1;
  text-align: center;
  padding: 0rem, 4rem;
  font-size: 1rem;
}

.global_nav_subtext{
  font-size: 0.7rem;
}

.global_nav_current {
  display: flex;
  flex-direction: column; 
  position: relative;
  padding: 0px 4px;
  border-bottom: 6px solid transparent;
  color: #ff4b00;
  text-decoration: none;
  transition: .25s;
  /* border-bottom-color: #e25c00; */
  width: 90%;
}

.global_nav_link{
  display: flex;
  flex-direction: column; 
  position: relative;
  padding: 0px 4px;
  border-bottom: 4px solid transparent;
  color: #595959;
  text-decoration: none;
  transition: .25s;
  width: 90%;
}

.global_nav_link:focus,
.global_nav_link:hover {
  color: #ff4b00;
}

.global_nav_link::after{
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  transform: translateY(-50%);
}

.global_nav_current:focus,
.global_nav_current:hover {
  color: #ff4b00;
}

.global_nav_current::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  transform: translateY(-50%);
}

#bar {
  background-color: #00ccee;
  position: fixed;
  top: 3.4rem;
  left: 0;
  height: 3px;
}

.endspace {
  height: 5rem;
  background-color: #f5f5f5;
}

footer {
    position: fixed;
    bottom: 0;
    background: #595959;
    text-align: center;
    width: 100%;
}

footer p {
    color: #fff;
    font-size: 0.8rem;
}

@media (max-width: 600px) {

  body{
    height: 100%;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    font-size: 1.0rem;
  }
  
  h1{
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
  }
  
  h2{
    border-left: 4px solid #595959;
    padding-left: 6px;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight: normal;
    font-size: 1rem;
  }
  
  span {
    display: inline-block;
  }
  
  a{
    text-decoration: none;
  }
  
  header{
    border-bottom: 3px solid #aaa;
    position: fixed;
    top:0;
    width: 100%;
    height: 2.8rem;
    color: #595959;
    background-color: #f8f8f8;
  }
  
  nav{
    align-items: center;
  }
  
  .header_inner{
    padding-top: 0.2rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .header_inner ul{
     padding-left: 0px;
  }
  
  .global_nav{
    display: flex;
    overflow:hidden;
    justify-content: space-around;
    list-style: none;
    width:100%;
    text-align: center;
  }
  
  .global_nav_item{
    flex-grow: 1;
    text-align: center;
    padding: 0rem, 2rem;
    margin: 0rem, 2rem;
  }
  
  .global_nav_text{
    flex-grow: 1;
    text-align: center;
    padding: 0rem, 2rem;
    font-size: 0.75rem;
  }
  
  .global_nav_subtext{
    font-size: 0.6rem;
  }
  
  .global_nav_current {
    display: flex;
    flex-direction: column; 
    position: relative;
    padding: 0px 2px;
    border-bottom: 4px solid transparent;
    color: #ff4b00;
    text-decoration: none;
    transition: .25s;
    /* border-bottom-color: #e25c00; */
    width: 90%;
  }
  
  .global_nav_link{
    display: flex;
    flex-direction: column; 
    position: relative;
    padding: 0px 2px;
    border-bottom: 4px solid transparent;
    color: #595959;
    text-decoration: none;
    transition: .25s;
    width: 90%;
  }
  
  .global_nav_link:focus,
  .global_nav_link:hover {
    /* border-bottom-color: #e25c00; */
    color: #00ccee;
  }
  
  .global_nav_link::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    transform: translateY(-50%);
  }
  
  .global_nav_current:focus,
  .global_nav_current:hover {
    /* border-bottom-color: #e25c00; */
    color: #ff4b00;
  }
  
  .global_nav_current::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    transform: translateY(-50%);
  }
  
  #bar {
    background-color: #00ccee;
    position: fixed;
    top: 2.8rem;
    left: 0;
    height: 3px;
  }
  
  .endspace {
    height: 3rem;
  }
  
  footer {
      position: fixed;
      bottom: 0;
      background: #595959;
      text-align: center;
      width: 100%;
  }

  footer p {
      color: #fff;
      font-size: 0.6rem;
  }
} 