@charset "UTF-8";

.home_title{
  position: center;
  padding: 2rem;
}

.general_content{
  position: center;
  text-align: center;
  color: #595959;
  min-height: 40vh;
  padding-top: 10vh;
}

.general_content_area{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 1.0rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  counter-reset: number 0;  
}

.list_items{
  margin-left: 2rem;
  padding-top: 1rem;
  text-align: left;
}

.list_items li {
  margin-bottom: 15px;
  }

.endspace {
  height: 5rem;
}

@media (max-width: 600px) {
  
  .home_title{
    position: center;
    padding-top: 2rem;
  }
  
  .general_content{
    position: center;
    text-align: center;
    font-size: 0.8rem;
    min-height: 40vh;
    padding-top: 10vh;
  }
  
  .general_content_area{
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.7rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    counter-reset: number 0;  
  }
  
  .list_items{
    margin-left: 1.5rem;
    padding-top: 1rem;
    text-align: left;
  }
  
  .list_items li {
    margin-bottom: 15px;
    }

} 