@charset "UTF-8";

.home_title{
  position: center;
  padding: 2rem;
}

.home_content{
  position: center;
  text-align: center;
  min-height: 40vh;
  padding-top: 10vh;
}

.home_content_area{
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 1.0rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  counter-reset: number 0;  
}

.my_brief_intro{
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: top;
  flex-direction: row;
}

.my_photo{
  align-items: center;
  justify-items: center;
  width: 360px;
}

.my_info_table_area{
  width: 100%;
}

.my_info_table_tr{
  text-align: left;
}

.my_contact{
  text-align: left;
}


@media (max-width: 600px) {
  
  .home_title{
    position: center;
    padding-top: 2rem;
  }
  
  .home_content{
    position: center;
    text-align: center;
    min-height: 40vh;
    padding-top: 10vh;
  }
  
  .home_content_area{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.75rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    counter-reset: number 0;  
  }
  
  .my_brief_intro{
    padding-top: 0rem;
    padding-bottom: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: top;
    flex-direction: column;
  }
  
  .my_photo{
    align-items: center;
    justify-items: center;
    width: 360px;
  }
  
  .my_info_table_area{
    padding-top: 2rem;
    width: 75%;
  }
  
  .my_info_table_tr{
    text-align: left;
  }
  
  .my_contact{
    text-align: left;
  }
}
