@charset "UTF-8";


/* common part */
html{
    font-size: 100%;
    height: 100%;
}

body{
    height: 100%;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    font-size: 1.0rem;
}

h1{
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight: normal;
    font-size: 2.0rem;
}

h2{
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
}

h3{
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    border-left: 6px solid #808080;
    padding-left: 8px;
}

a{
    text-decoration: none;
}

nav{
        align-items: left;
}

span {
   display: inline-block;
}



/* botton */
.btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
  background: #003366;
  color: #fff;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn:hover{
    background: #0090aa;
}


/* HEADER */
.header{
    border-bottom: 2px solid #ddd;
    position: fixed;
    top:0;
    width: 100%;
    background-color: #f8f8f8;
}

.header_inner{
 /*   padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
}

.header_inner ul{
     padding-left: 0px;
}

.header-nav{
  display: flex;
  overflow:hidden;
  justify-content: space-around;
  list-style: none;
  width:100%;
  text-align: center;   /*ポイント!*/
}

.header-nav__item{
  flex-grow: 1;
  text-align: center;
  padding-right: 4px;
}

.header-nav__item:last-child .header-nav__link::after{
  content: none;
}

.header-nav__link{
  position: relative;
  display: block;
  padding: 0px 4px;
  border-bottom: 4px solid transparent;
  color: #432;
  text-decoration: none;
  transition: .25s;
}

.header-nav__link:focus,
.header-nav__link:hover {
  border-bottom-color: #e25c00;
  color: red;
}

.header-nav__link::after{
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  background-color: #ddd;
  transform: translateY(-50%);
}

.header-nav__current {
  position: relative;
  display: block;
  padding: 0px 4px;
  border-bottom: 4px solid transparent;
  color: #432;
  text-decoration: none;
  transition: .25s;
  border-bottom-color: #e25c00;
}

.header-nav__current:focus,
.header-nav__current:hover {
  border-bottom-color: #e25c00;
  color: red;
}

.header-nav__current::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  background-color: #ddd;
  transform: translateY(-50%);
}


#bar {
  background-color: #0bd;
  top: ;
  height: 10px;
}

/* accordion */
summary{
  cursor: pointer;
}

details {
  margin: 0px;
  padding: 10px;
}

details[open] {
    border: solid 1.5px #000000;
/*    background: #e0e0e0;  */
}


/*main column */
.wrapper{
    justify-content: center;
    align-items: left;
    min-height: 40vh;
    padding-top: 10vh;
}

.wrapper li {
    margin-bottom: 1.8rem;
}

.main-content-container{
    padding-top: 20px;
    margin-left: 5vw;
    margin-right: 10vw;
    font-size: 1.0rem;
    text-align: left;
    display: flex;
    align-items: left;
    flex-direction: column;
    counter-reset: number 0;  
}

.main-content-container details{
    margin-top: 10px;
}

.main-content-container details p{
    font-size: 1rem;
}

.float_l {
    margin-top: 30px;
    float: left;
}

.endspace {
  height: 60px;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    background: black;
    text-align: center;
    width: 100%;
}
footer p {
    color: #fff;
    font-size: 0.7rem;
}




/* movile version */
@media (max-width: 600px) {

body{
    font-size: 0.8rem;
}
h1{
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
}

h2{
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
}

h3{
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    border-left: 3px solid #808080;
    padding-left: 4px;
}

    .page-header {
        flex-direction: column;
        align-items: left;
    }

    /* HEADER */
    .header-nav {
        font-size: 0.8rem;
    }

    /* HOME */


    .wrapper{
    justify-content: center;
    align-items: left;
    min-height: 50vh;
    padding-top: 15%;
    }

    .wrapper ul{
      padding-left: 20px;
    }

    .wrapper ol{
      padding-left: 20px;
    }

    .main-content-container{
    padding-top: 10px;
    margin-left: 15px;
    font-size: 1rem;
    text-align: left;
    display: flex;
    align-items: left;
    flex-direction: column;
    }

    footer p {
    color: #fff;
    font-size: 0.5rem;
}

}
